body{
  background-color: #CAE7E2

}

p{
font-family: 'Lora', serif;
/* #FCDCD0
#CAE7E2
#E8DAEB
#E0F2F6 */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;

    margin: none;
    border: none;
    padding: 8px;
    background-color: #000;
}
